* {
  box-sizing: border-box;
}

a {
  color: #c7254e;
  text-decoration: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
					linear-gradient(rgba(199, 37, 78, 1), rgba(199, 37, 78, 1));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms ease-out, back;
}

a:hover {
  background-size: 0 2px, 100% 2px;
}
